.ulContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  padding-left: 400px;
  padding-right: 400px;
  min-height: 100vh;
  font-family: bree Serif;
  background-image: linear-gradient(#fff1eb, #ace0f9);
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ulContainer2 {
  display: flex;
  flex-wrap: wrap;
}
